# Terraform files
.terraform/                # Terraform directory (plugins and cache)
*.tfstate                  # State files
*.tfstate.backup           # State backup files
*.tfvars                   # Sensitive variables
*.tfstate.*
tfplan                     # Terraform plan files
crash.log                  # Terraform crash logs
override.tf                # Local override files
override.tf.json           # Local override files in JSON
*_override.tf              # Local override files
*_override.tf.json         # Local override files in JSON
.terraform.lock.hcl        # Lock file
*.log

# Keys and credentials
*.pem                      # Private keys
*.key                      # Other private keys
*.crt                      # Certificates
*.env                      # Environment files with sensitive variables

# IDE / Editor
*.swp                      # Vim swap files
*.swo                      # Vim swap files
.vscode/                    # VS Code settings
.idea/                      # IntelliJ/JetBrains settings

# System
.DS_Store                  # macOS system file

